<?xml version="1.0" ?>

<robot name="zero" xmlns:xacro="http://ros.org/wiki/xacro">
  <ros2_control name="RobotSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name="hub_motor_assembly_joint">
      <command_interface name="velocity">
        <param name="min">-1.0</param>
        <param name="max">1.0</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>      
    </joint>

    <joint name="hub_motor_assembly_joint_2">
      <command_interface name="velocity">
        <param name="min">-1.0</param>
        <param name="max">1.0</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>      
    </joint>

  </ros2_control> 
</robot>